aiogram==2.14.3
aiohttp==3.7.4.post0
appdirs==1.4.4
APScheduler==3.6.3
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
clarifai==2.6.2
configparser==3.8.1
EasyProcess==0.3
emoji==1.4.2
environs==8.0.0
future==0.18.2
googleapis-common-protos==1.53.0
grpcio==1.39.0
idna==3.2
jsonschema==2.6.0
lxml==4.6.3
marshmallow==3.13.0
MeaningCloud-python==2.0.0
multidict==5.1.0
plyer==2.0.0
protobuf==3.17.3
python-dotenv==0.19.0
python-telegram-bot==13.7
pytz==2021.1
PyVirtualDisplay==2.2
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
tornado==6.1
tqdm==4.62.1
typing-extensions==3.10.0.0
tzlocal==3.0
urllib3==1.26.6
webdriverdownloader==1.1.0.3
webdrivermanager==0.10.0
yarl==1.6.3
